body {
    font-size: 16px;
    margin: 0px;
}

header {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 48px;
    top: 0px;
    border-bottom: 1px solid #c8ccd1;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

header>h1 {
    font-family: arial;
    text-align: center;
    margin: 0px;
    height: 100%;
}

#container {
    padding-top: 48px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}